---
layout: default
title: "AnthillHacks"
permalink: /
---
<div class="header row">
    
    <div class="banner-bg">
        <div class="row logo"></div>
        <h1>Anthillhacks 21.22 is ONline/offline.</h1>
        <h2><a href="https://hackmd.io/@tbdinesh/S1dKvByYF" target="_blank">Together being apart</a></h2>
        <h3>Devarayanadurga, near Bangalore, Karnataka, India</h3>
        <h3>December 24th 2021 to January 3rd 2022</h3> 
        details: <a href="https://open.janastu.org/labs/anthill">open.janastu.org/labs/anthill</a>
   
    
    <!-- <div class="row cta-row">
        <div class="">
            <a href="{{site.baseurl}}/register/">
                <button type="button" class="btn btn-default btn-lg btn-block cta-1">Register to attend</button>
            </a>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="{{site.baseurl}}/participate/">
                <button type="button" class="btn btn-primary btn-lg btn-block cta-2">Propose a session</button>
            </a>
        </div-->
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 mb100">
        <div class="section-white font-size-md mt100">
            <p>Come join us in the beautiful hills near Devarayanadurga, Tumkur where we want to camp, cook and hack together. In the pristine Iruway farm over the course of 10 days, we will be exploring life sciences in many forms. From learning and practicing sustainable farming practices to learning about building a localised health infrastructure, from Cooking Online and Offline together with our friends and neighbours exploring local recipes to learning about knowledge tools and craft practices from a hyperlocal lens - this is an unparalleled experience spanning from the 24th December 2021 to the 3rd of Jan 2022.</p>

            <p>Over the course of AnthillHacks 21.22, we will be exploring different tracks through practice as well as working sessions in collaboration with local participants. These tracks seek to explore a few large questions in small yet meaningful ways.</p>

            <h2>Theme: Cook and Hack days</h2>

            <b>Everyday session tracks</b>
            <ol>
                <li>Wireless mesh networking, nodes/devices and services</li>
                <li>Crafts and Maker Space</li>
                <li>Learning and local content, tools and management</li>
                <li>Farming, trekking and performances on the rocks</li>
                <li>Cooking - we want to try if cooking together offline with online participants maybe be a way to connect sideways and informally in these times of fatiguing online sessions.</li>
            </ol>

            <h3>Volunteer, participate and ideate</h3>
            <p>Our team is looking forward to include your session or activity request for the days of your participation and preference. Please email us at anthillhacks@janastu.org</p>

            <p>We are looking for documenters and translators for each of the 5 locations in the mesh area.</p>

            <p><b>Pre-announced parallel cooking sessions</b> of the same "<b>recipe</b>" (adapted to location of the parallelly cooking participants) in different villages of ddhills COWmesh area where some are likely to join in from outside - india and elsewhere. A similar process/pattern we hope will be used for other tech and nontech activities you all bring in to the event.</p>
            
            <h3>Physical Locations within the COWmesh area</h3>
            <ol>
                <li>Anterras by Yatrinivas, Devarayanadurga/ddhills</li>
                <li><a href="https://iruway.janastu.org">Iruway, Halekote </a></li>
                <li><a href="https://crafts.janastu.org">CrafterSpace, Halekote/Durgadahalli</a></li>
                <li>Near Village Well, Durgadahalli</li>
                <li>Tamarind Grove, Thimmanayakanahalli</li>
            </ol>
            <p>Distributed sessions, each location will have tents with a large screen, camera and 
                <a href="https://blog.janastu.org" target="_blank">AsPi devices</a>. 
                People can attend sessions live at their location or by choosing a remote channel.
            </p>
                
            <p>
                <b>Setup days</b> from 20th Dec, 2021 - logistics, food and other requirements. <br />
                <b>Tech wise</b> - streaming tools within mesh and for those joining from locations outside.
            </p>
                      
            
            
            <h3>Online Participants</h3>
             <p>If you are connecting through Laptop / Desktop you can use latest Chrome or Firefox and join via the below link.
                <ul>
                    <li>Sesion Link: <a href="https://meet.jit.si/anthillhacks" target="_blank">https://meet.jit.si/anthillhacks</a></li>
                </ul>
          
            If you are connecting through phone, you can dowload the app for iOS/android here <a href="https://jitsi.org/#download" target="_blank">https://jitsi.org/#download</a>
            </p>
                
            <p>To get involved in discussions, share your ideas for workshop or sessions, give feedback, and stay in touch with our community,
            you can join our discord channel. 
                <ul>
                    <li><a href="https://j.mp/anthillchat" target="_blank">http://j.mp/anthillchat</a></li>
                </ul>
             </p>
                
            <h3>Covid protocols</h3>
            <p>While we are open to you coming physically to the locations at ddhills area, we also ask you to be mindful of the need for the physically present to be in comfortable (safe) spaces. We may limit numbers to be 10 in closed spaces and 25 in open spaces. The session owners will be directing who will be in their physical proximity.</p>

            <h3>Their/Her/History </h3>
            <p>Some thoughts and history at <a href="https://j.mp/myhill" target="_blank">j.mp/myhill</a> and <a href="/history">Our History</a> </p>

            <p><h3>Collaborations offered</h3>
            <a href="https://Janastu.org" target="_blank">Janastu/Servelots</a> || <a href="https://chigurucolab.com" target="_blank">Chiguru CoLab</a> || <a href="https://www.instagram.com/gida_livingcolours/" target="_blank">Gida Living Colors</a> || <a href="https://mudhands.com/" target="_blank">Mudhands</a> || <a href="https://www.futuretronlabs.in" target="_blank">Futuretron Labs</a> || <a href="https://fossunited.org/" target="_blank">FOSS United</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 font-size-md">
        <div class="section-white">
            <h2>Some visuals from the past</h2>
            <div class="row homepage-gallery">
                <div class="col-md-12 no-padding mt20">
                    <div class="row">
                    {% for num in (1..12) %}
                        {% capture image_href %}{{site.baseurl}}/assets/images/ant2015-{{num}}.jpg{% endcapture %}
                        {% include lightbox-image.html href=image_href %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
