---
layout: default
title: "AnthillHacks 23 - 24"
permalink: /
---
<div class="header row">
    
    <div class="banner-bg">
       
        <h1>We're getting ready for Anthillhacks 2023 - 2024!</h1>
        <!--<h2><a href="https://hackmd.io/@tbdinesh/S1dKvByYF" target="_blank">Getting back together</a></h2> -->
         <h3><span style="background-color:#ccefff">Join us this December at <a href="https://www.openstreetmap.org/#map=15/13.3828/77.2001&layers=Y" style="color: #fd6304"><b> Devarayanadurga, Tumkur, Karnataka, India</b></a></span></h3>  
        <h3><span style="background-color:#ccefff">From the December 25th to January 4th</span></h3>
       
    </div>
</div>
    
    <!-- <div class="row cta-row">
        <div class="">
            <a href="{{site.baseurl}}/register/">
                <button type="button" class="btn btn-default btn-lg btn-block cta-1">Register to attend</button>
            </a>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="{{site.baseurl}}/participate/">
                <button type="button" class="btn btn-primary btn-lg btn-block cta-2">Propose a session</button>
            </a>
        </div>
    </div>
</div-->

    

<!--div class="row">
    <div class="col-md-10 col-md-offset-1 mb100">
        <div class="section-white font-size-md mt100">
            <div class="row logo"></div>
        <h1>We're setting up for Anthillhacks 23-24!</h1>
        <h3>Join us this December at <a href="https://www.openstreetmap.org/#map=15/13.3828/77.2001&layers=Y"> Devarayanadurga, Tumkur, Karnataka, India</a> from the 15th to January 1st*</h3> 
        </div>
    </div>
</div-->



<div class="row">
    <div class="col-md-10 col-md-offset-1 mb100">
        <div class="section-white font-size-md mt100">
            <p>Get set for the 8th installment of Anthillhacks! Finish off your year camping, cooking and hacking together at Devarayanadurga.</p>

            <p>Anthillhacks has always been a collaborative space where anyone is welcome to propose a session. </p>  
            

            <p> What you can expect</p>
            <ol>
            <li>Build days and feminist technology in community networks</li>
            <li>Theories of Change workshops on environmental sustainability and care</li>
            <li>Cooking camps in villages</li>
            <li>Tech-stack for including low-literates</li>
            <li>Learn permaculture and organic farming techniques</li>
            <li>Performative arts, crafts and stories everyday</li>
            </ol>
            
            
            <h3>Tentative track ideas and tasks</br></h3>

            dWeb experiments, Community Networks, Gender and Environments, Supporting ecosystems of care
            
            <h3>Call For Sponsors</h3> 
            <p><a href="{{site.baseurl}}/sponsor/"> Click here</a>  to know our needs</br></br></p>
            
            <p>Find more details <a href="https://open.janastu.org/labs/anthill">here </a> </p> 
            
            
            <h3>Their/Her/History </h3>
            <p>Some thoughts and history at <a href="https://j.mp/myhill" target="_blank">j.mp/myhill</a> and <a href="/history">Our History</a> </p>

            
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-md-10 col-md-offset-1 font-size-md">
        <div class="section-white">
            <h3>Some visuals from the past</h3>
            <div class="row homepage-gallery">
                <div class="col-md-12 no-padding mt20">
                    <div class="row">
                    {% for num in (1..25) %}
                        {% capture image_href %}{{site.baseurl}}/assets/images/ant2015-{{num}}.jpg{% endcapture %}
                        {% include lightbox-image.html href=image_href %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
