<footer class="site-footer footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {{ site.title | escape }}
          </li>
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            {% include icon-github.html label="source" %}
          </li>
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          <li>
              <img src="assets/images/mastodon-icon.png" style="width:20px" />
            <a rel="me" href="https://mastodon.social/@anthillhacks">Mastodon</a>
          </li>
          <li>
              <img src="assets/images/discord-icon.png" style="width:20px" />
              <a rel="me" href="http://j.mp/anthillchat">Discord</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class='footer-links'>
          <li><a href="{{site.baseurl}}/about/">About</a></li>
          <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
          <li><a href="{{site.baseurl}}/faq/">FAQ</a></li>
          <!-- <li><a href="/participate/">Participate</a></li>
          <li><a href="{{site.baseurl}}/pads/">Pads</a></li>  -->
        </ul>
      </div>

      <div class="footer-col footer-col-4">
        Website is 'sincere compliment' github source copy of <a href="https://hillhacks.in/">Hillhacks</a>
      </div>

    </div>

  </div>

</footer>
<script type="text/javascript" src="{{"/js/bootstrap-native.min.js" | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/js/lightbox.min.js" | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/js/lightbox.js" | prepend: site.baseurl}}"></script>
